body {
  background-color: #f8f8f8;
  margin: 0px;
}

#wrapper {
  margin: 0px 0px;
  width: 275px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  max-height: 600px;
}

#titletext {
  padding: 8px 8px 2px 0px;
  text-align: center;
}

.logo {
  height: auto;
  width: 45%;
}

.separator {
  width: 100%;
  border-top: 2px groove white;
  margin: 5px -5px 5px -3px;
}

#loginheader {
  text-align: center;
}

#loginbody {
  padding:10px;
}

.logininput {
  width: 230px;
  height: 25px;
  margin: 0 0 10px;
  padding-left: 15px;
}

.buttons {
  text-align: center;
  margin:15px 0;
}

.btn_mini {
  font-size: 14px;
  width: 116px;
  min-width: 116px;
  line-height: 18px !important;
  border-bottom-width: 2px;
  padding: 4px 4px 3px 4px;
}

.rbtn {
  margin-right: 10px;
}


   /* background-color: #33C222;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 50px;
*/
